.add_window {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.add_window-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.add_window-body {
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    background: white;
    border-radius: 5px;
    width: 50%;
    z-index: 6;
    padding: 15px;
}

.add_window-header {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 35px;
}

.add_window-input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px 30px;

    border: 2px solid rgb(193, 193, 193);
    border-radius: 6px;
    text-align: center;
    min-width: 250px;
}

.add_window-desc {
    padding: 30px;
}

.add_window-button {
    user-select: none;
    border: 3px solid rgb(110, 110, 110);
    border-radius: 6px;
    padding: 15px;
    margin: auto;
    max-width: 150px;
    color: rgb(110, 110, 110);
}

.add_window-button_active {
    cursor: pointer;
    border: 3px solid rgb(112, 191, 104);
    color: rgb(70, 118, 65);
}